*{
    padding: 0;
    margin: 0;
}
#banner-image{
    position: relative;
    width: 100vw;
    height: 30vh;
}
#banner{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    background-image: url("Images/abstract-dark-wood2.jpg");
    div a {
        color: white;
        text-decoration: none;
    }
}
#logo{
    position: relative;
    bottom: 47vh;
    left: 25vw;
    width: 25vw;
    height: 1vh;
}
#logo-image{
    width: 100%;
}

#tag-line{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
#pizza-video{
    width: 20vw;
    height: 30vh;
}
#pizza-text{
    position: relative;
}
#tag-line2{
    position: absolute;
    color: white;
    top: 30vh;
    left: 45vw;
}
#pizza-image{
    width: 100%;
    height: 130%;
}
#footer-banner{
    background: black;
    width: 100%;
    height: 7vh;
}
#footer-text{
    position: relative;
    color: white;
    left: 40vw;
    top: 15px;
}