* {
    padding: 0;
    margin: 0;
}
body{
    background: black;
}
#banner-image{
    position: relative;
    width: 100vw;
    height: 30vh;
}
#banner{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    background-image: url("../Images/abstract-dark-wood2.jpg");
    div a {
        color: white;
        text-decoration: none;
        font-size: 80%;
        font-family: "candara", sans-serif;
    }
}
#logo{
    position: relative;
    bottom: 47vh;
    left: 25vw;
    width: 25vw;
    height: 1vh;
}
#logo-image{
    width: 100%;
}
#lights{
    position: relative;
    width: 100%;
    height: 40vh;
}
#about-text{
    position: relative;
    color:white;
    bottom: 15vw;
    left: 40vw;
    font-size: 230%;
    font-family: "candara", sans-serif;
}
.text{
    color: white;
}
#footer-banner{
    background: white;
    position: relative;
    height: 7vh;
}
#footer-text{
    position: relative;
    color: black;
    left: 20vw;
    top: 3vh;
}
@media screen and (max-width: 1950px){}
@media screen and (max-width: 800px){
    #banner{
        width: 117%;
            div a{
                font-size: 100%;
                margin-right: 4vw;
        }
    }
    #lights{
        width: 117%;
        height: 30vh;
    }
    #about-text{
        bottom: 17vh;
        left: 50vw;
    }
    .text{
        margin-left: 5vw;
        margin-bottom: 5vh;
        text-align: center;
    }
    #pizzeria{
        width:100%;
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 5vw;
    }
    #saru{
        width: 100%;
        height: 30vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 5vw;
    }
    #footer-banner{
        width: 117%;
    }
    #footer-text{
        font-size: 100%;
        left: 35vw;
    }
}
@media screen and (max-width: 400px){
    #banner{
        width: 100%;
            div a{
                font-size: 100%;
                margin-right: 4vw;
        }
    }
    #lights{
        width: 100%;
        height: 30vh;
    }
    #about-text{
        bottom: 17vh;
        left: 20vw;
    }
    .text{
        margin-left: 5vw;
        text-align: center;
    }
    #pizzeria{
        width:100%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    #saru{
        width: 100%;
        height: 30vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    #footer-banner{
        width: 100%;
    }
    #footer-text{
        font-size: 60%
    }
}