* {
  padding: 0;
  margin: 0;
}

body {
  background: black;
}

#banner {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../Images/abstract-dark-wood2.jpg");
}

#banner div a {
  color: white;
  text-decoration: none;
  font-size: 70%;
  font-family: "candara", sans-serif;
}

#logo {
  position: relative;
  bottom: 47vh;
  left: 25vw;
  width: 25vw;
  height: 1vh;
}

#logo-image {
  width: 100%;
}

.title {
  color: black;
  width: 100%;
  margin-top: 4vh;
  font-family: "candara", sans-serif;
  text-align: center;
  background-color: white;
}

#pizza-container {
  display: -ms-grid;
  display: grid;
  padding: 1vh;
  margin-top: 4vh;
  -ms-grid-columns: ()[1fr];
      grid-template-columns: repeat(1fr);
  grid-row-gap: 1vw;
  grid-column-gap: 10vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pizza-container div p {
  font-size: 30vh;
  font-family: "candara", sans-serif;
}

#pasta-container {
  display: -ms-grid;
  display: grid;
  padding: 1vh;
  margin-top: 4vh;
  grid-row-gap: 1vw;
  grid-column-gap: 5vh;
  -ms-grid-columns: ()[1fr];
      grid-template-columns: repeat(1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pasta-container div p {
  font-size: 50%;
  font-family: "candara", sans-serif;
}

#chicken-container {
  display: -ms-grid;
  display: grid;
  padding: 1vh;
  margin-top: 4vh;
  grid-row-gap: 1vw;
  grid-column-gap: 10vh;
  -ms-grid-columns: ()[1fr];
      grid-template-columns: repeat(1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chicken-container div p {
  font-size: 50%;
  font-family: "candara", sans-serif;
}

#salad-container {
  display: -ms-grid;
  display: grid;
  padding: 1vh;
  margin-top: 4vh;
  grid-row-gap: 1vw;
  grid-column-gap: 5vh;
  -ms-grid-columns: ()[1fr];
      grid-template-columns: repeat(1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#salad-container div p {
  font-size: 50%;
  font-family: "candara", sans-serif;
}

#desserts-container {
  display: -ms-grid;
  display: grid;
  padding: 1vh;
  margin-top: 4vh;
  grid-row-gap: 1vw;
  grid-column-gap: 5vh;
  -ms-grid-columns: ()[1fr];
      grid-template-columns: repeat(1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#desserts-container div p {
  font-size: 50%;
  font-family: "candara", sans-serif;
}

#drinks-container {
  display: -ms-grid;
  display: grid;
  padding: 1vh;
  margin-top: 4vh;
  -ms-grid-columns: ()[1fr];
      grid-template-columns: repeat(1fr);
  grid-row-gap: 1vw;
  grid-column-gap: 5vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#drinks-container div p {
  font-size: 50%;
  font-family: "candara", sans-serif;
}

#footer-banner {
  background: white;
  position: relative;
  height: 5vh;
  top: 15vh;
}

#footer-text {
  position: relative;
  color: black;
  left: 40vw;
  top: 1vh;
}

@media screen and (max-width: 1950px) {
  #pizza-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (50vh)[3];
        grid-template-rows: repeat(3, 50vh);
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 8vh;
  }
  #pizza-container div p {
    font-size: 70%;
    text-align: center;
  }
  #pasta-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (50vh)[2];
        grid-template-rows: repeat(2, 50vh);
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 8vh;
  }
  #pasta-container div p {
    font-size: 70%;
    text-align: center;
  }
  #chicken-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (50vh)[1];
        grid-template-rows: repeat(1, 50vh);
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 8vh;
  }
  #chicken-container div p {
    font-size: 70%;
    text-align: center;
  }
  #salad-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (50vh)[2];
        grid-template-rows: repeat(2, 50vh);
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 8vh;
  }
  #salad-container div p {
    font-size: 70%;
    text-align: center;
  }
  #desserts-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (50vh)[1];
        grid-template-rows: repeat(1, 50vh);
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 8vh;
  }
  #desserts-container div p {
    font-size: 70%;
    text-align: center;
  }
  #drinks-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (50vh)[1];
        grid-template-rows: repeat(1, 50vh);
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 8vh;
  }
  #drinks-container div p {
    font-size: 70%;
    text-align: center;
  }
  .effect {
    width: 100%;
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 1;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .food {
    font-family: 'Dosis', sans-serif;
    color: white;
  }
  .food:hover .effect {
    opacity: 0.3;
  }
  .food:hover .middle {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  #banner {
    width: 93%;
  }
  #banner div a {
    font-size: 100%;
  }
  #pizza-container {
    display: -ms-grid;
    display: grid;
    width: 90%;
    margin-top: 8vh;
    -ms-grid-rows: (40vh)[4];
        grid-template-rows: repeat(4, 40vh);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10vh;
    grid-column-gap: 1vw;
  }
  #pizza-container div p {
    font-size: 90%;
    text-align: center;
  }
  #pasta-container {
    display: -ms-grid;
    display: grid;
    width: 90%;
    margin-top: 8vh;
    -ms-grid-rows: (40vh)[2];
        grid-template-rows: repeat(2, 40vh);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10vh;
    grid-column-gap: 1vw;
  }
  #pasta-container div p {
    font-size: 90%;
    text-align: center;
  }
  #chicken-container {
    display: -ms-grid;
    display: grid;
    width: 90%;
    margin-top: 8vh;
    -ms-grid-rows: (40vh)[2];
        grid-template-rows: repeat(2, 40vh);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10vh;
    grid-column-gap: 1vw;
  }
  #chicken-container div p {
    font-size: 90%;
    text-align: center;
  }
  #salad-container {
    display: -ms-grid;
    display: grid;
    width: 90%;
    margin-top: 8vh;
    -ms-grid-rows: (40vh)[2];
        grid-template-rows: repeat(2, 40vh);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10vh;
    grid-column-gap: 1vw;
  }
  #salad-container div p {
    font-size: 90%;
    text-align: center;
  }
  #desserts-container {
    display: -ms-grid;
    display: grid;
    width: 90%;
    margin-top: 8vh;
    -ms-grid-rows: (40vh)[2];
        grid-template-rows: repeat(2, 40vh);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10vh;
    grid-column-gap: 1vw;
  }
  #desserts-container div p {
    font-size: 90%;
    text-align: center;
  }
  #drinks-container {
    display: -ms-grid;
    display: grid;
    width: 90%;
    margin-top: 8vh;
    -ms-grid-rows: (40vh)[2];
        grid-template-rows: repeat(2, 40vh);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10vh;
    grid-column-gap: 1vw;
  }
  #drinks-container div p {
    font-size: 90%;
    text-align: center;
  }
  #footer-text {
    left: 20vw;
  }
  #footer-banner {
    margin: 0;
    width: 90vw;
  }
}

@media screen and (max-width: 400px) {
  #banner {
    width: 100%;
  }
  #pizza-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (45vh)[1];
        grid-template-rows: repeat(1, 45vh);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 5vh;
  }
  #pizza-container div p {
    font-size: 90%;
    text-align: center;
  }
  #pasta-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (45vh)[1];
        grid-template-rows: repeat(1, 45vh);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 5vh;
  }
  #pasta-container div p {
    font-size: 90%;
    text-align: center;
  }
  #chicken-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (45vh)[1];
        grid-template-rows: repeat(1, 45vh);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 5vh;
  }
  #chicken-container div p {
    font-size: 90%;
    text-align: center;
  }
  #salad-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (45vh)[1];
        grid-template-rows: repeat(1, 45vh);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 5vh;
  }
  #salad-container div p {
    font-size: 90%;
    text-align: center;
  }
  #desserts-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (45vh)[1];
        grid-template-rows: repeat(1, 45vh);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 5vh;
  }
  #desserts-container div p {
    font-size: 90%;
    text-align: center;
  }
  #drinks-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (45vh)[1];
        grid-template-rows: repeat(1, 45vh);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 5vh;
  }
  #drinks-container div p {
    font-size: 90%;
    text-align: center;
  }
}
/*# sourceMappingURL=menu.css.map */